@use '@/styles/mixins.scss' as *;

// ==================== Icon 图标 ====================
@include b('icon') {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--#{$namespace}-icon-color, inherit);
  font-size: inherit;

  // ==================== 颜色类型修饰符 ====================
  // 利用 @each 循环生成5种颜色类型的图标样式
  @each $val in primary, info, success, warning, danger {
    @include m($val) {
      color: var(--#{$namespace}-color-#{$val});
    }
  }
}
