@use '@/styles/mixins.scss' as *;

@include b('message') {
  --vk-message-bg-color: var(--el-ai-message-bg-color);
  --vk-message-border-color: var(--el-ai-message-border-color);
  --vk-message-padding: 15px 19px;
  --vk-message-close-size: 16px;
  --vk-message-close-icon-color: var(--el-ai-text-color-light);
  --vk-message-close-hover-color: var(--el-ai-text-color-secondary);

  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--el-ai-border-radius-base);
  border-width: var(--el-ai-border-width);
  border-style: var(--el-ai-border-style);
  border-color: var(--vk-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--el-ai-message-bg-color);
  padding: var(--vk-message-padding);
  display: flex;
  align-items: center;
  @include transition(top, opacity, transform);

  @include e('content') {
    color: var(--el-ai-message-text-color);
    overflow-wrap: anywhere;
  }

  @include when('close') {
    @include e('content') {
      padding-right: 30px;
    }
  }

  @include e('close') {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }
  }

  @each $val in info, success, warning, danger {
    @include m($val) {
      --vk-message-bg-color: var(--el-ai-message-#{$val}-bg);
      --vk-message-border-color: var(--el-ai-message-#{$val}-border);
      --vk-message-text-color: var(--el-ai-color-#{$val});

      @include e('close') {
        --vk-icon-color: var(--el-ai-color-#{$val});
      }
    }
  }
}
.vk-message.fade-up-enter-from,
.vk-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
